<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Word Game Cheater</title>
		<!-- CSS Links -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		
		<!-- Main Content Wrapper -->
		<div class="container">
			<div class="jumbotron">
				<h2>Word Game Cheater</h2>
				<p>
					A simple tool to quickly get an answer to games like "4 pics one word" or "Whats the word?"
				</p>
			</div>

			{% block content %}
			{% endblock %}
			
		</div>
		<!-- End of Main content Wrapper -->
	</body>
</html>